header(class="bg-emerald-600 p-2")
  div(class="container mx-auto flex justify-between items-center ")
    h1(class="text-2xl text-white font-extrabold font-bold text-center") Registro de Bienes
    nav(class="my-5 text-sm md:flex md:items-center font-bold md:gap-3 text-white ")
      a(href="" ) Bienes Cargado
      a(href="" ) Bienes Cargado
      a(class="bg-emerald-800 py-2 px-10 rounded-leg" href="" ) Cerrar Sesion 